textarea:focus, input:focus, .uneditable-input:focus {   
    border-color: rgba(229, 103, 23, 0.8) !important;
    box-shadow: 0 1px 1px rgba(229, 103, 23, 0.075) inset, 0 0 8px rgba(229, 103, 23, 0.6) !important;
    outline: 0 none !important;
}