<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>COMMENT.type</th>
      <th>COMMENT.value</th>
      <th>TIME.type</th>
      <th>TIME.value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>literal</td>
      <td>An extraordinary artist. I&amp;#x27;m glad he was ...</td>
      <td>literal</td>
      <td>1500612003</td>
    </tr>
    <tr>
      <th>1</th>
      <td>literal</td>
      <td>And for those who are wondering what I meant, ...</td>
      <td>literal</td>
      <td>1500612003</td>
    </tr>
    <tr>
      <th>2</th>
      <td>literal</td>
      <td>Perhaps they&amp;#x27;re trying to learn from the ...</td>
      <td>literal</td>
      <td>1500612003</td>
    </tr>
    <tr>
      <th>3</th>
      <td>literal</td>
      <td>Russians are the most likely users of the Ukra...</td>
      <td>literal</td>
      <td>1500612002</td>
    </tr>
    <tr>
      <th>4</th>
      <td>literal</td>
      <td>Crowd funding makes sense however when there i...</td>
      <td>literal</td>
      <td>1500612002</td>
    </tr>
    <tr>
      <th>5</th>
      <td>literal</td>
      <td>&lt;i&gt;To alleviate concerns associated with comme...</td>
      <td>literal</td>
      <td>1500612002</td>
    </tr>
    <tr>
      <th>6</th>
      <td>literal</td>
      <td>The point is the article cherry-picks a single...</td>
      <td>literal</td>
      <td>1500612002</td>
    </tr>
    <tr>
      <th>7</th>
      <td>literal</td>
      <td>This is a beautiful essay, and I&amp;#x27;ve reall...</td>
      <td>literal</td>
      <td>1500612001</td>
    </tr>
    <tr>
      <th>8</th>
      <td>literal</td>
      <td>I found the perspective of the Finnish teacher...</td>
      <td>literal</td>
      <td>1500612001</td>
    </tr>
    <tr>
      <th>9</th>
      <td>literal</td>
      <td>What makes a user interface modern?</td>
      <td>literal</td>
      <td>1500612001</td>
    </tr>
    <tr>
      <th>10</th>
      <td>literal</td>
      <td>People have the right to make poor investments.</td>
      <td>literal</td>
      <td>1500612001</td>
    </tr>
    <tr>
      <th>11</th>
      <td>literal</td>
      <td>&amp;gt; Wool In The Gang, a supplier of knitting ...</td>
      <td>literal</td>
      <td>1500612001</td>
    </tr>
    <tr>
      <th>12</th>
      <td>literal</td>
      <td>While definitely cool.. for the love of all th...</td>
      <td>literal</td>
      <td>1500612001</td>
    </tr>
    <tr>
      <th>13</th>
      <td>literal</td>
      <td>And this guy thinks every buck goes directly i...</td>
      <td>literal</td>
      <td>1500612000</td>
    </tr>
    <tr>
      <th>14</th>
      <td>literal</td>
      <td>I don&amp;#x27;t see the point of precise handwrit...</td>
      <td>literal</td>
      <td>1500612000</td>
    </tr>
    <tr>
      <th>15</th>
      <td>literal</td>
      <td>Ridiculous article.&lt;p&gt;The parable of the broke...</td>
      <td>literal</td>
      <td>1500612000</td>
    </tr>
    <tr>
      <th>16</th>
      <td>literal</td>
      <td>The first article you linked seems to indicate...</td>
      <td>literal</td>
      <td>1500612000</td>
    </tr>
    <tr>
      <th>17</th>
      <td>literal</td>
      <td>The mainstream media has earned the mistrust, ...</td>
      <td>literal</td>
      <td>1500612000</td>
    </tr>
    <tr>
      <th>18</th>
      <td>literal</td>
      <td>&amp;gt; They don&amp;#x27;t do it initially to lock t...</td>
      <td>literal</td>
      <td>1500612000</td>
    </tr>
    <tr>
      <th>19</th>
      <td>literal</td>
      <td>I suspect, like most sane people, it&amp;#x27;s mo...</td>
      <td>literal</td>
      <td>1500611999</td>
    </tr>
    <tr>
      <th>20</th>
      <td>literal</td>
      <td>Rosetta Stone online. For me, picture-based le...</td>
      <td>literal</td>
      <td>1500611999</td>
    </tr>
    <tr>
      <th>21</th>
      <td>literal</td>
      <td>I know it&amp;#x27;s been out for a couple years a...</td>
      <td>literal</td>
      <td>1500611999</td>
    </tr>
    <tr>
      <th>22</th>
      <td>literal</td>
      <td>It seems the &lt;i&gt;format string&lt;/i&gt; can run comm...</td>
      <td>literal</td>
      <td>1500611999</td>
    </tr>
    <tr>
      <th>23</th>
      <td>literal</td>
      <td>&amp;gt; Note that there is no reason, in principl...</td>
      <td>literal</td>
      <td>1500611999</td>
    </tr>
    <tr>
      <th>24</th>
      <td>literal</td>
      <td>Isn&amp;#x27;t part of Ukraine now Russia? Sooo.....</td>
      <td>literal</td>
      <td>1500611998</td>
    </tr>
    <tr>
      <th>25</th>
      <td>literal</td>
      <td>Care to elaborate please?</td>
      <td>literal</td>
      <td>1500611998</td>
    </tr>
    <tr>
      <th>26</th>
      <td>literal</td>
      <td>It does simplify things but do you feel if che...</td>
      <td>literal</td>
      <td>1500611998</td>
    </tr>
    <tr>
      <th>27</th>
      <td>literal</td>
      <td>&amp;gt; &lt;i&gt;forthcoming DAM&lt;/i&gt;&lt;p&gt;Your thread is 2...</td>
      <td>literal</td>
      <td>1500611998</td>
    </tr>
    <tr>
      <th>28</th>
      <td>literal</td>
      <td>What are the affordable parts of Long Island o...</td>
      <td>literal</td>
      <td>1500611998</td>
    </tr>
    <tr>
      <th>29</th>
      <td>literal</td>
      <td>So is the flip side true? Do I have the right ...</td>
      <td>literal</td>
      <td>1500611998</td>
    </tr>
    <tr>
      <th>30</th>
      <td>literal</td>
      <td>If I call eval(string) am I emitting unescaped...</td>
      <td>literal</td>
      <td>1500611997</td>
    </tr>
    <tr>
      <th>31</th>
      <td>literal</td>
      <td>Does the USS Enterprise (NCC-1701) count as a ...</td>
      <td>literal</td>
      <td>1500611997</td>
    </tr>
    <tr>
      <th>32</th>
      <td>literal</td>
      <td>I&amp;#x27;m not sure  I understand the use case f...</td>
      <td>literal</td>
      <td>1500611997</td>
    </tr>
    <tr>
      <th>33</th>
      <td>literal</td>
      <td>Read the first two words of the page.&lt;p&gt;Though...</td>
      <td>literal</td>
      <td>1500611997</td>
    </tr>
    <tr>
      <th>34</th>
      <td>literal</td>
      <td>It&amp;#x27;s distributed in English with an Engli...</td>
      <td>literal</td>
      <td>1500611997</td>
    </tr>
    <tr>
      <th>35</th>
      <td>literal</td>
      <td>You got that wrong: 6000 is the number of peop...</td>
      <td>literal</td>
      <td>1500611997</td>
    </tr>
    <tr>
      <th>36</th>
      <td>literal</td>
      <td>Why? It&amp;#x27;s not as if they&amp;#x27;re saying t...</td>
      <td>literal</td>
      <td>1500611996</td>
    </tr>
    <tr>
      <th>37</th>
      <td>literal</td>
      <td>I can respect them for their ability to contro...</td>
      <td>literal</td>
      <td>1500611996</td>
    </tr>
    <tr>
      <th>38</th>
      <td>literal</td>
      <td>Looking at piratebay, there are 1000+ seeders ...</td>
      <td>literal</td>
      <td>1500611996</td>
    </tr>
    <tr>
      <th>39</th>
      <td>literal</td>
      <td>&amp;gt; &amp;gt; 1. Many of us lived through the 1960...</td>
      <td>literal</td>
      <td>1500611996</td>
    </tr>
    <tr>
      <th>40</th>
      <td>literal</td>
      <td>I have no idea what you&amp;#x27;re talking about....</td>
      <td>literal</td>
      <td>1500611996</td>
    </tr>
    <tr>
      <th>41</th>
      <td>literal</td>
      <td>Re: increasing donations -- I&amp;#x27;ve always w...</td>
      <td>literal</td>
      <td>1500611995</td>
    </tr>
    <tr>
      <th>42</th>
      <td>literal</td>
      <td>I know I&amp;#x27;ve come across a case once where...</td>
      <td>literal</td>
      <td>1500611995</td>
    </tr>
    <tr>
      <th>43</th>
      <td>literal</td>
      <td>indeed, I have heard paramedics refer to the v...</td>
      <td>literal</td>
      <td>1500611995</td>
    </tr>
    <tr>
      <th>44</th>
      <td>literal</td>
      <td>Thanks for the helpful reply to my rather piss...</td>
      <td>literal</td>
      <td>1500611995</td>
    </tr>
    <tr>
      <th>45</th>
      <td>literal</td>
      <td>Yeah, that was what I tried at first. Unfortun...</td>
      <td>literal</td>
      <td>1500611995</td>
    </tr>
    <tr>
      <th>46</th>
      <td>literal</td>
      <td>About Erlang memory model : The answer is that...</td>
      <td>literal</td>
      <td>1500611994</td>
    </tr>
    <tr>
      <th>47</th>
      <td>literal</td>
      <td>I don&amp;#x27;t think there&amp;#x27;s any actual pro...</td>
      <td>literal</td>
      <td>1500611994</td>
    </tr>
    <tr>
      <th>48</th>
      <td>literal</td>
      <td>&amp;gt; One is a mother in mid-30&amp;#x27;s that lov...</td>
      <td>literal</td>
      <td>1500611994</td>
    </tr>
    <tr>
      <th>49</th>
      <td>literal</td>
      <td>So you want someone to pay you 27 bucks to tak...</td>
      <td>literal</td>
      <td>1500611994</td>
    </tr>
    <tr>
      <th>50</th>
      <td>literal</td>
      <td>Why are you commenting if you don&amp;#x27;t under...</td>
      <td>literal</td>
      <td>1500611994</td>
    </tr>
    <tr>
      <th>51</th>
      <td>literal</td>
      <td>Personally I wouldn&amp;#x27;t want to live in a s...</td>
      <td>literal</td>
      <td>1500611993</td>
    </tr>
    <tr>
      <th>52</th>
      <td>literal</td>
      <td>This is one of those reasons I decide to drink...</td>
      <td>literal</td>
      <td>1500611993</td>
    </tr>
    <tr>
      <th>53</th>
      <td>literal</td>
      <td>don&amp;#x27;t you have to be an accredited invest...</td>
      <td>literal</td>
      <td>1500611993</td>
    </tr>
    <tr>
      <th>54</th>
      <td>literal</td>
      <td>It&amp;#x27;s almost as if algebra would also make...</td>
      <td>literal</td>
      <td>1500611993</td>
    </tr>
    <tr>
      <th>55</th>
      <td>literal</td>
      <td>That&amp;#x27;s fraud not crowdfunding. If it&amp;#x27...</td>
      <td>literal</td>
      <td>1500611993</td>
    </tr>
    <tr>
      <th>56</th>
      <td>literal</td>
      <td>We&amp;#x27;ve been on that &amp;quot;verge&amp;quot; for ...</td>
      <td>literal</td>
      <td>1500611993</td>
    </tr>
    <tr>
      <th>57</th>
      <td>literal</td>
      <td>Well, cars came into being at first as steam d...</td>
      <td>literal</td>
      <td>1500611993</td>
    </tr>
    <tr>
      <th>58</th>
      <td>literal</td>
      <td>Wouldn&amp;#x27;t people just wait until they need...</td>
      <td>literal</td>
      <td>1500611992</td>
    </tr>
    <tr>
      <th>59</th>
      <td>literal</td>
      <td>&amp;gt;Is there a coherent argument for creating ...</td>
      <td>literal</td>
      <td>1500611992</td>
    </tr>
    <tr>
      <th>60</th>
      <td>literal</td>
      <td>People are rather bad at handling low-probabil...</td>
      <td>literal</td>
      <td>1500611992</td>
    </tr>
    <tr>
      <th>61</th>
      <td>literal</td>
      <td>that would reduce the numbers and with automat...</td>
      <td>literal</td>
      <td>1500611992</td>
    </tr>
    <tr>
      <th>62</th>
      <td>literal</td>
      <td>&lt;i&gt;&amp;quot;I also never learned that there are s...</td>
      <td>literal</td>
      <td>1500611992</td>
    </tr>
    <tr>
      <th>63</th>
      <td>literal</td>
      <td>The support forum thread started by the develo...</td>
      <td>literal</td>
      <td>1500611992</td>
    </tr>
    <tr>
      <th>64</th>
      <td>literal</td>
      <td>I went to the past show put on by Eureka Comed...</td>
      <td>literal</td>
      <td>1500611991</td>
    </tr>
    <tr>
      <th>65</th>
      <td>literal</td>
      <td>If 1 in 5 donations come from a car accident v...</td>
      <td>literal</td>
      <td>1500611991</td>
    </tr>
    <tr>
      <th>66</th>
      <td>literal</td>
      <td>I guess using lots of words like &amp;quot;reactiv...</td>
      <td>literal</td>
      <td>1500611991</td>
    </tr>
    <tr>
      <th>67</th>
      <td>literal</td>
      <td>Does it run on &lt;a href="https:&amp;#x2F;&amp;#x2F;gith...</td>
      <td>literal</td>
      <td>1500611991</td>
    </tr>
    <tr>
      <th>68</th>
      <td>literal</td>
      <td>Train networks around the world are usually su...</td>
      <td>literal</td>
      <td>1500611991</td>
    </tr>
    <tr>
      <th>69</th>
      <td>literal</td>
      <td>Doesn&amp;#x27;t mean anything, the thing is still...</td>
      <td>literal</td>
      <td>1500611990</td>
    </tr>
    <tr>
      <th>70</th>
      <td>literal</td>
      <td>Ah, yes, I&amp;#x27;ve had that heavy-head issue, ...</td>
      <td>literal</td>
      <td>1500611990</td>
    </tr>
    <tr>
      <th>71</th>
      <td>literal</td>
      <td>&lt;i&gt;&amp;gt; Not sure why the post above has been d...</td>
      <td>literal</td>
      <td>1500611990</td>
    </tr>
    <tr>
      <th>72</th>
      <td>literal</td>
      <td>Can this be automated as a script such that if...</td>
      <td>literal</td>
      <td>1500611990</td>
    </tr>
    <tr>
      <th>73</th>
      <td>literal</td>
      <td>Good. Don&amp;#x27;t create a company in France. W...</td>
      <td>literal</td>
      <td>1500611990</td>
    </tr>
    <tr>
      <th>74</th>
      <td>literal</td>
      <td>I laughed out loud when I saw this and thought...</td>
      <td>literal</td>
      <td>1500611990</td>
    </tr>
    <tr>
      <th>75</th>
      <td>literal</td>
      <td>wrt climate change, any plan that excludes Chi...</td>
      <td>literal</td>
      <td>1500611990</td>
    </tr>
    <tr>
      <th>76</th>
      <td>literal</td>
      <td>That&amp;#x27;s what they are proposing. They want...</td>
      <td>literal</td>
      <td>1500611989</td>
    </tr>
    <tr>
      <th>77</th>
      <td>literal</td>
      <td>Lending Club almost went broke in the late 200...</td>
      <td>literal</td>
      <td>1500611989</td>
    </tr>
    <tr>
      <th>78</th>
      <td>literal</td>
      <td>Crowdfunding for products makes a lot of sense...</td>
      <td>literal</td>
      <td>1500611989</td>
    </tr>
    <tr>
      <th>79</th>
      <td>literal</td>
      <td>Right, obviously you&amp;#x27;d need to record the...</td>
      <td>literal</td>
      <td>1500611989</td>
    </tr>
    <tr>
      <th>80</th>
      <td>literal</td>
      <td>Not entirely orthogonal, as they both have an ...</td>
      <td>literal</td>
      <td>1500611989</td>
    </tr>
    <tr>
      <th>81</th>
      <td>literal</td>
      <td>Which is still not safe enough, and in effect ...</td>
      <td>literal</td>
      <td>1500611989</td>
    </tr>
    <tr>
      <th>82</th>
      <td>literal</td>
      <td>Unbelievable how far the mainstream media has ...</td>
      <td>literal</td>
      <td>1500611988</td>
    </tr>
    <tr>
      <th>83</th>
      <td>literal</td>
      <td>There is a definitely antipattern that comes f...</td>
      <td>literal</td>
      <td>1500611988</td>
    </tr>
    <tr>
      <th>84</th>
      <td>literal</td>
      <td>really? you took the time to write that as fee...</td>
      <td>literal</td>
      <td>1500611988</td>
    </tr>
    <tr>
      <th>85</th>
      <td>literal</td>
      <td>Yes, but companies probably shouldn&amp;#x27;t hav...</td>
      <td>literal</td>
      <td>1500611988</td>
    </tr>
    <tr>
      <th>86</th>
      <td>literal</td>
      <td>You might try reading sometime. It&amp;#x27;s a us...</td>
      <td>literal</td>
      <td>1500611988</td>
    </tr>
    <tr>
      <th>87</th>
      <td>literal</td>
      <td>It&amp;#x27;s dark and possibly off color but it c...</td>
      <td>literal</td>
      <td>1500611988</td>
    </tr>
    <tr>
      <th>88</th>
      <td>literal</td>
      <td>Not the OP, but I do, in that I think that the...</td>
      <td>literal</td>
      <td>1500611987</td>
    </tr>
    <tr>
      <th>89</th>
      <td>literal</td>
      <td>It&amp;#x27;s not so much punishing, as letting th...</td>
      <td>literal</td>
      <td>1500611987</td>
    </tr>
    <tr>
      <th>90</th>
      <td>literal</td>
      <td>VC funds could be traded on the stock market. ...</td>
      <td>literal</td>
      <td>1500611987</td>
    </tr>
    <tr>
      <th>91</th>
      <td>literal</td>
      <td>This is a classic vanity deep-learning framewo...</td>
      <td>literal</td>
      <td>1500611987</td>
    </tr>
    <tr>
      <th>92</th>
      <td>literal</td>
      <td>It&amp;#x27;s 19 departments now? At first it was ...</td>
      <td>literal</td>
      <td>1500611987</td>
    </tr>
    <tr>
      <th>93</th>
      <td>literal</td>
      <td>I know that, but why does the article say CCC3...</td>
      <td>literal</td>
      <td>1500611986</td>
    </tr>
    <tr>
      <th>94</th>
      <td>literal</td>
      <td>its perfectly rational if it increases sales, ...</td>
      <td>literal</td>
      <td>1500611986</td>
    </tr>
    <tr>
      <th>95</th>
      <td>literal</td>
      <td>While there is no way I&amp;#x27;d use this servic...</td>
      <td>literal</td>
      <td>1500611986</td>
    </tr>
    <tr>
      <th>96</th>
      <td>literal</td>
      <td>&lt;i&gt;So I think there&amp;#x27;s a burden on advocat...</td>
      <td>literal</td>
      <td>1500611986</td>
    </tr>
    <tr>
      <th>97</th>
      <td>literal</td>
      <td>Just stay out of Canada, to be honest. Our cou...</td>
      <td>literal</td>
      <td>1500611986</td>
    </tr>
    <tr>
      <th>98</th>
      <td>literal</td>
      <td>&lt;i&gt;our brains already have programmed from the...</td>
      <td>literal</td>
      <td>1500611986</td>
    </tr>
    <tr>
      <th>99</th>
      <td>literal</td>
      <td>I&amp;#x27;m currently building an app for WatchOS...</td>
      <td>literal</td>
      <td>1500611985</td>
    </tr>
  </tbody>
</table>