<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>domain.type</th>
      <th>domain.value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>literal</td>
      <td>American Journal of Respiratory and Critical C...</td>
    </tr>
    <tr>
      <th>1</th>
      <td>literal</td>
      <td>The New England Journal of Medicine</td>
    </tr>
    <tr>
      <th>2</th>
      <td>literal</td>
      <td>Nature Medicine</td>
    </tr>
    <tr>
      <th>3</th>
      <td>literal</td>
      <td>Journal of Translational Medicine</td>
    </tr>
    <tr>
      <th>4</th>
      <td>literal</td>
      <td>Indian Journal of Critical Care Medicine</td>
    </tr>
    <tr>
      <th>5</th>
      <td>literal</td>
      <td>Chinese Journal of Internal Medicine</td>
    </tr>
    <tr>
      <th>6</th>
      <td>literal</td>
      <td>Journal of Experimental Medicine</td>
    </tr>
    <tr>
      <th>7</th>
      <td>literal</td>
      <td>Herbal Medicine-Expanded Commission E Mongraphs</td>
    </tr>
    <tr>
      <th>8</th>
      <td>literal</td>
      <td>Journal of Laboratory and Clinical Medicine</td>
    </tr>
    <tr>
      <th>9</th>
      <td>literal</td>
      <td>Clinical and Experimental Medicine</td>
    </tr>
    <tr>
      <th>10</th>
      <td>literal</td>
      <td>Molecular Medicine</td>
    </tr>
    <tr>
      <th>11</th>
      <td>literal</td>
      <td>Occupational Medicine</td>
    </tr>
    <tr>
      <th>12</th>
      <td>literal</td>
      <td>American Journal of Industrial Medicine</td>
    </tr>
    <tr>
      <th>13</th>
      <td>literal</td>
      <td>British Journal of Industrial Medicine</td>
    </tr>
    <tr>
      <th>14</th>
      <td>literal</td>
      <td>Journal of Occupational and Environmental Medi...</td>
    </tr>
    <tr>
      <th>15</th>
      <td>literal</td>
      <td>Occupational and Environmental Medicine</td>
    </tr>
    <tr>
      <th>16</th>
      <td>literal</td>
      <td>Tropical Medicine and International Health</td>
    </tr>
    <tr>
      <th>17</th>
      <td>literal</td>
      <td>Archives of Internal Medicine</td>
    </tr>
    <tr>
      <th>18</th>
      <td>literal</td>
      <td>Annals of Tropical Medicine and Parasitology</td>
    </tr>
    <tr>
      <th>19</th>
      <td>literal</td>
      <td>American Journal of Tropical Medicine and Hygiene</td>
    </tr>
    <tr>
      <th>20</th>
      <td>literal</td>
      <td>Royal Society of Tropical Medicine and Hygiene</td>
    </tr>
    <tr>
      <th>21</th>
      <td>literal</td>
      <td>Transactions of the Royal Society of Tropical ...</td>
    </tr>
    <tr>
      <th>22</th>
      <td>literal</td>
      <td>Medicine and Science in Sports and Exercise</td>
    </tr>
    <tr>
      <th>23</th>
      <td>literal</td>
      <td>Texas Reports on Biology and Medicine</td>
    </tr>
    <tr>
      <th>24</th>
      <td>literal</td>
      <td>Molecular Medicine Reports</td>
    </tr>
    <tr>
      <th>25</th>
      <td>literal</td>
      <td>American Journal of Medicine</td>
    </tr>
    <tr>
      <th>26</th>
      <td>literal</td>
      <td>Journal of Oral Pathology and Medicine</td>
    </tr>
    <tr>
      <th>27</th>
      <td>literal</td>
      <td>Journal of Pathology and Medicine</td>
    </tr>
    <tr>
      <th>28</th>
      <td>literal</td>
      <td>Developmental Medicine and Child Neurology</td>
    </tr>
    <tr>
      <th>29</th>
      <td>literal</td>
      <td>Journal of Nuclear Medicine</td>
    </tr>
    <tr>
      <th>30</th>
      <td>literal</td>
      <td>Journal of Perinatal Medicine</td>
    </tr>
    <tr>
      <th>31</th>
      <td>literal</td>
      <td>Pediatric Critical Care Medicine</td>
    </tr>
    <tr>
      <th>32</th>
      <td>literal</td>
      <td>The American Journal of Respiratory and Critic...</td>
    </tr>
    <tr>
      <th>33</th>
      <td>literal</td>
      <td>Annals of Internal Medicine</td>
    </tr>
    <tr>
      <th>34</th>
      <td>literal</td>
      <td>Sleep Medicine</td>
    </tr>
    <tr>
      <th>35</th>
      <td>literal</td>
      <td>Journal of Clinical Sleep Medicine</td>
    </tr>
    <tr>
      <th>36</th>
      <td>literal</td>
      <td>Sleep Medicine Reviews</td>
    </tr>
    <tr>
      <th>37</th>
      <td>literal</td>
      <td>Preventive Medicine</td>
    </tr>
    <tr>
      <th>38</th>
      <td>literal</td>
      <td>Journal of Internal Medicine</td>
    </tr>
    <tr>
      <th>39</th>
      <td>literal</td>
      <td>British Journal of Sports Medicine</td>
    </tr>
    <tr>
      <th>40</th>
      <td>literal</td>
      <td>Yale Journal of Biology and Medicine</td>
    </tr>
    <tr>
      <th>41</th>
      <td>literal</td>
      <td>Journal of Sexual Medicine</td>
    </tr>
    <tr>
      <th>42</th>
      <td>literal</td>
      <td>Archives of Pathology and Laboratory Medicine</td>
    </tr>
    <tr>
      <th>43</th>
      <td>literal</td>
      <td>Internal Medicine</td>
    </tr>
    <tr>
      <th>44</th>
      <td>literal</td>
      <td>Annals of Nuclear Medicine</td>
    </tr>
    <tr>
      <th>45</th>
      <td>literal</td>
      <td>Military Medicine</td>
    </tr>
    <tr>
      <th>46</th>
      <td>literal</td>
      <td>Journal of Cellular and Molecular Medicine</td>
    </tr>
    <tr>
      <th>47</th>
      <td>literal</td>
      <td>Seminars in Nuclear Medicine</td>
    </tr>
    <tr>
      <th>48</th>
      <td>literal</td>
      <td>Current Molecular Medicine</td>
    </tr>
    <tr>
      <th>49</th>
      <td>literal</td>
      <td>International Journal of Molecular Medicine</td>
    </tr>
    <tr>
      <th>50</th>
      <td>literal</td>
      <td>Journal of Chinese Integrative Medicine</td>
    </tr>
    <tr>
      <th>51</th>
      <td>literal</td>
      <td>Advances in Experimental Medicine and Biology</td>
    </tr>
    <tr>
      <th>52</th>
      <td>literal</td>
      <td>Annals of African Medicine</td>
    </tr>
    <tr>
      <th>53</th>
      <td>literal</td>
      <td>Journal of Emergency Medicine</td>
    </tr>
    <tr>
      <th>54</th>
      <td>literal</td>
      <td>Critical Care Medicine</td>
    </tr>
    <tr>
      <th>55</th>
      <td>literal</td>
      <td>Annals of Emergency Medicine</td>
    </tr>
    <tr>
      <th>56</th>
      <td>literal</td>
      <td>Intensive Care Medicine</td>
    </tr>
    <tr>
      <th>57</th>
      <td>literal</td>
      <td>Archives of Physical Medicine and Rehabilitation</td>
    </tr>
    <tr>
      <th>58</th>
      <td>literal</td>
      <td>American Journal of Physical Medicine and Reha...</td>
    </tr>
    <tr>
      <th>59</th>
      <td>literal</td>
      <td>IEEE Engineering in Medicine and Biology Magazine</td>
    </tr>
    <tr>
      <th>60</th>
      <td>literal</td>
      <td>Journal of Molecular Medicine</td>
    </tr>
    <tr>
      <th>61</th>
      <td>literal</td>
      <td>Clinical Science and Molecular Medicine</td>
    </tr>
    <tr>
      <th>62</th>
      <td>literal</td>
      <td>New England Journal of Medicine</td>
    </tr>
    <tr>
      <th>63</th>
      <td>literal</td>
      <td>Journal of Japanese Society for Emergency Medi...</td>
    </tr>
    <tr>
      <th>64</th>
      <td>literal</td>
      <td>Chinese Journal of Basic Medicine in Tradition...</td>
    </tr>
    <tr>
      <th>65</th>
      <td>literal</td>
      <td>Beijing Journal of Traditional Chinese Medicine</td>
    </tr>
    <tr>
      <th>66</th>
      <td>literal</td>
      <td>Journal of New Chinese Medicine</td>
    </tr>
    <tr>
      <th>67</th>
      <td>literal</td>
      <td>Zhejiang Clinical Medicine Journal</td>
    </tr>
    <tr>
      <th>68</th>
      <td>literal</td>
      <td>Chinese Journal of Natural Medicines</td>
    </tr>
    <tr>
      <th>69</th>
      <td>literal</td>
      <td>Journal of Integrated Traditional and Western ...</td>
    </tr>
    <tr>
      <th>70</th>
      <td>literal</td>
      <td>Chinese Journal of Integrated Traditional and ...</td>
    </tr>
    <tr>
      <th>71</th>
      <td>literal</td>
      <td>Seminars in Reproductive Medicine</td>
    </tr>
    <tr>
      <th>72</th>
      <td>literal</td>
      <td>Journal of Postgraduate Medicine</td>
    </tr>
    <tr>
      <th>73</th>
      <td>literal</td>
      <td>The Journal of Emergency Medicine</td>
    </tr>
    <tr>
      <th>74</th>
      <td>literal</td>
      <td>Wilderness and Environmental Medicine</td>
    </tr>
    <tr>
      <th>75</th>
      <td>literal</td>
      <td>Social Science and Medicine</td>
    </tr>
    <tr>
      <th>76</th>
      <td>literal</td>
      <td>Aviation Space and Environmental Medicine</td>
    </tr>
    <tr>
      <th>77</th>
      <td>literal</td>
      <td>Archives of Pediatrics and Adolescent Medicine</td>
    </tr>
    <tr>
      <th>78</th>
      <td>literal</td>
      <td>Evidence-Based Complementary and Alternative M...</td>
    </tr>
    <tr>
      <th>79</th>
      <td>literal</td>
      <td>Trends in Molecular Medicine</td>
    </tr>
    <tr>
      <th>80</th>
      <td>literal</td>
      <td>Clinics in Laboratory Medicine</td>
    </tr>
    <tr>
      <th>81</th>
      <td>literal</td>
      <td>Journal of Gene Medicine</td>
    </tr>
    <tr>
      <th>82</th>
      <td>literal</td>
      <td>Nanotechnology 2009: Life Sciences, Medicine, ...</td>
    </tr>
    <tr>
      <th>83</th>
      <td>literal</td>
      <td>Nanotechnology 2008: Life Sciences, Medicine, ...</td>
    </tr>
    <tr>
      <th>84</th>
      <td>literal</td>
      <td>Western Journal of Medicine</td>
    </tr>
    <tr>
      <th>85</th>
      <td>literal</td>
      <td>Transfusion Medicine Reviews</td>
    </tr>
    <tr>
      <th>86</th>
      <td>literal</td>
      <td>Transfusion Medicine</td>
    </tr>
    <tr>
      <th>87</th>
      <td>literal</td>
      <td>European Journal of Nuclear Medicine</td>
    </tr>
    <tr>
      <th>88</th>
      <td>literal</td>
      <td>European Journal of Nuclear Medicine and Molec...</td>
    </tr>
    <tr>
      <th>89</th>
      <td>literal</td>
      <td>Clinical Nuclear Medicine</td>
    </tr>
    <tr>
      <th>90</th>
      <td>literal</td>
      <td>Nuclear Medicine Communications</td>
    </tr>
    <tr>
      <th>91</th>
      <td>literal</td>
      <td>Journal of Medicine</td>
    </tr>
    <tr>
      <th>92</th>
      <td>literal</td>
      <td>Proceedings of the Society for Experimental Bi...</td>
    </tr>
    <tr>
      <th>93</th>
      <td>literal</td>
      <td>Diabetic Medicine</td>
    </tr>
    <tr>
      <th>94</th>
      <td>literal</td>
      <td>Journal of Traditional Medicines</td>
    </tr>
    <tr>
      <th>95</th>
      <td>literal</td>
      <td>Journal of Intensive Care Medicine</td>
    </tr>
    <tr>
      <th>96</th>
      <td>literal</td>
      <td>Psychosomatic Medicine</td>
    </tr>
    <tr>
      <th>97</th>
      <td>literal</td>
      <td>High Altitude Medicine and Biology</td>
    </tr>
    <tr>
      <th>98</th>
      <td>literal</td>
      <td>Regional Anesthesia and Pain Medicine</td>
    </tr>
    <tr>
      <th>99</th>
      <td>literal</td>
      <td>HIV Medicine</td>
    </tr>
  </tbody>
</table>