<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>COMMENT.type</th>
      <th>COMMENT.value</th>
      <th>TIME.type</th>
      <th>TIME.value</th>
      <th>username.type</th>
      <th>username.value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>literal</td>
      <td>Format strings in python are not equivalent to...</td>
      <td>literal</td>
      <td>1500611955</td>
      <td>literal</td>
      <td>cyphar</td>
    </tr>
    <tr>
      <th>1</th>
      <td>literal</td>
      <td>Format strings in python are not equivalent to...</td>
      <td>literal</td>
      <td>1500611955</td>
      <td>literal</td>
      <td>Andrew Salmon</td>
    </tr>
    <tr>
      <th>2</th>
      <td>literal</td>
      <td>The reasoning why printf strings in C are unsa...</td>
      <td>literal</td>
      <td>1500611945</td>
      <td>literal</td>
      <td>cyphar</td>
    </tr>
    <tr>
      <th>3</th>
      <td>literal</td>
      <td>The reasoning why printf strings in C are unsa...</td>
      <td>literal</td>
      <td>1500611945</td>
      <td>literal</td>
      <td>Sklivvz</td>
    </tr>
    <tr>
      <th>4</th>
      <td>literal</td>
      <td>Native vs. non-native is irrelevant. A non-nat...</td>
      <td>literal</td>
      <td>1500611944</td>
      <td>literal</td>
      <td>obstinate</td>
    </tr>
    <tr>
      <th>5</th>
      <td>literal</td>
      <td>Native vs. non-native is irrelevant. A non-nat...</td>
      <td>literal</td>
      <td>1500611944</td>
      <td>literal</td>
      <td>tealhill</td>
    </tr>
    <tr>
      <th>6</th>
      <td>literal</td>
      <td>Nice. I often forget just how much is happenin...</td>
      <td>literal</td>
      <td>1500611898</td>
      <td>literal</td>
      <td>IanCal</td>
    </tr>
    <tr>
      <th>7</th>
      <td>literal</td>
      <td>Nice. I often forget just how much is happenin...</td>
      <td>literal</td>
      <td>1500611898</td>
      <td>literal</td>
      <td>Shefali</td>
    </tr>
    <tr>
      <th>8</th>
      <td>literal</td>
      <td>Since 2.4:&lt;p&gt;&lt;a href="https:&amp;#x2F;&amp;#x2F;docs.p...</td>
      <td>literal</td>
      <td>1500611811</td>
      <td>literal</td>
      <td>daveguy</td>
    </tr>
    <tr>
      <th>9</th>
      <td>literal</td>
      <td>Since 2.4:&lt;p&gt;&lt;a href="https:&amp;#x2F;&amp;#x2F;docs.p...</td>
      <td>literal</td>
      <td>1500611811</td>
      <td>literal</td>
      <td>augurar</td>
    </tr>
    <tr>
      <th>10</th>
      <td>literal</td>
      <td>&amp;gt;&lt;i&gt;Native vs. non-native is irrelevant. A ...</td>
      <td>literal</td>
      <td>1500611672</td>
      <td>literal</td>
      <td>coldtea</td>
    </tr>
    <tr>
      <th>11</th>
      <td>literal</td>
      <td>&amp;gt;&lt;i&gt;Native vs. non-native is irrelevant. A ...</td>
      <td>literal</td>
      <td>1500611672</td>
      <td>literal</td>
      <td>Tensor_Product</td>
    </tr>
    <tr>
      <th>12</th>
      <td>literal</td>
      <td>Guido van Rossum has vocally[1] expressed a di...</td>
      <td>literal</td>
      <td>1500611609</td>
      <td>literal</td>
      <td>RodgerTheGreat</td>
    </tr>
    <tr>
      <th>13</th>
      <td>literal</td>
      <td>I get that this may have been a reasonable att...</td>
      <td>literal</td>
      <td>1500611604</td>
      <td>literal</td>
      <td>Pxtl</td>
    </tr>
    <tr>
      <th>14</th>
      <td>literal</td>
      <td>Lisp represents the ultimate sacrifice of legi...</td>
      <td>literal</td>
      <td>1500611600</td>
      <td>literal</td>
      <td>Pxtl</td>
    </tr>
    <tr>
      <th>15</th>
      <td>literal</td>
      <td>I was about to observation that the python cod...</td>
      <td>literal</td>
      <td>1500611565</td>
      <td>literal</td>
      <td>randomstring</td>
    </tr>
    <tr>
      <th>16</th>
      <td>literal</td>
      <td>Hello everyone, I&amp;#x27;m Yash, founder of Grep...</td>
      <td>literal</td>
      <td>1500611289</td>
      <td>literal</td>
      <td>yranadive</td>
    </tr>
    <tr>
      <th>17</th>
      <td>literal</td>
      <td>Yup, I&amp;#x27;m aware of this and should have me...</td>
      <td>literal</td>
      <td>1500611276</td>
      <td>literal</td>
      <td>jsmeaton</td>
    </tr>
    <tr>
      <th>18</th>
      <td>literal</td>
      <td>A great article addressing a difficult idea.  ...</td>
      <td>literal</td>
      <td>1500611237</td>
      <td>literal</td>
      <td>mhneu</td>
    </tr>
    <tr>
      <th>19</th>
      <td>literal</td>
      <td>I use python based Nikola, a static blog gener...</td>
      <td>literal</td>
      <td>1500610931</td>
      <td>literal</td>
      <td>sharmi</td>
    </tr>
    <tr>
      <th>20</th>
      <td>literal</td>
      <td>`python -m SimpleHTTPServer` for the local ser...</td>
      <td>literal</td>
      <td>1500610915</td>
      <td>literal</td>
      <td>mrswag</td>
    </tr>
  </tbody>
</table>