<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>COMMENT.type</th>
      <th>COMMENT.value</th>
      <th>TIME.type</th>
      <th>TIME.value</th>
      <th>username.type</th>
      <th>username.value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>literal</td>
      <td>I guess using lots of words like &amp;quot;reactiv...</td>
      <td>literal</td>
      <td>1500611991</td>
      <td>literal</td>
      <td>qz_</td>
    </tr>
    <tr>
      <th>1</th>
      <td>literal</td>
      <td>I guess using lots of words like &amp;quot;reactiv...</td>
      <td>literal</td>
      <td>1500611991</td>
      <td>literal</td>
      <td>Wipqozn</td>
    </tr>
    <tr>
      <th>2</th>
      <td>literal</td>
      <td>A cascade to react comparison might be helpful...</td>
      <td>literal</td>
      <td>1500611971</td>
      <td>literal</td>
      <td>maxcan</td>
    </tr>
    <tr>
      <th>3</th>
      <td>literal</td>
      <td>A cascade to react comparison might be helpful...</td>
      <td>literal</td>
      <td>1500611971</td>
      <td>literal</td>
      <td>Andrew Grimm</td>
    </tr>
    <tr>
      <th>4</th>
      <td>literal</td>
      <td>That is a great way to kill all transport by c...</td>
      <td>literal</td>
      <td>1500611954</td>
      <td>literal</td>
      <td>mcgrath_sh</td>
    </tr>
    <tr>
      <th>5</th>
      <td>literal</td>
      <td>That is a great way to kill all transport by c...</td>
      <td>literal</td>
      <td>1500611954</td>
      <td>literal</td>
      <td>Scott Stensland</td>
    </tr>
    <tr>
      <th>6</th>
      <td>literal</td>
      <td>&amp;gt; It&amp;#x27;s that the U.S. Government and al...</td>
      <td>literal</td>
      <td>1500611924</td>
      <td>literal</td>
      <td>snowwrestler</td>
    </tr>
    <tr>
      <th>7</th>
      <td>literal</td>
      <td>&amp;gt; It&amp;#x27;s that the U.S. Government and al...</td>
      <td>literal</td>
      <td>1500611924</td>
      <td>literal</td>
      <td>zx8754</td>
    </tr>
    <tr>
      <th>8</th>
      <td>literal</td>
      <td>True enough (I&amp;#x27;m in Israel. Hi!) but desp...</td>
      <td>literal</td>
      <td>1500611907</td>
      <td>literal</td>
      <td>topynate</td>
    </tr>
    <tr>
      <th>9</th>
      <td>literal</td>
      <td>True enough (I&amp;#x27;m in Israel. Hi!) but desp...</td>
      <td>literal</td>
      <td>1500611907</td>
      <td>literal</td>
      <td>KChaloux</td>
    </tr>
    <tr>
      <th>10</th>
      <td>literal</td>
      <td>I think the chemical reactions that could poss...</td>
      <td>literal</td>
      <td>1500611848</td>
      <td>literal</td>
      <td>na85</td>
    </tr>
    <tr>
      <th>11</th>
      <td>literal</td>
      <td>I think the chemical reactions that could poss...</td>
      <td>literal</td>
      <td>1500611848</td>
      <td>literal</td>
      <td>Félix Gagnon-Grenier</td>
    </tr>
    <tr>
      <th>12</th>
      <td>literal</td>
      <td>A significant part of the leftist worldview de...</td>
      <td>literal</td>
      <td>1500611753</td>
      <td>literal</td>
      <td>candiodari</td>
    </tr>
    <tr>
      <th>13</th>
      <td>literal</td>
      <td>A significant part of the leftist worldview de...</td>
      <td>literal</td>
      <td>1500611753</td>
      <td>literal</td>
      <td>Ian Mc</td>
    </tr>
    <tr>
      <th>14</th>
      <td>literal</td>
      <td>I&amp;#x27;m currently prepping for an interview a...</td>
      <td>literal</td>
      <td>1500611742</td>
      <td>literal</td>
      <td>throwaway43</td>
    </tr>
    <tr>
      <th>15</th>
      <td>literal</td>
      <td>I&amp;#x27;m currently prepping for an interview a...</td>
      <td>literal</td>
      <td>1500611742</td>
      <td>literal</td>
      <td>rob</td>
    </tr>
    <tr>
      <th>16</th>
      <td>literal</td>
      <td>Yeah, it does look like d3 animation, don&amp;#x27...</td>
      <td>literal</td>
      <td>1500611742</td>
      <td>literal</td>
      <td>vitohuang</td>
    </tr>
    <tr>
      <th>17</th>
      <td>literal</td>
      <td>Yeah, it does look like d3 animation, don&amp;#x27...</td>
      <td>literal</td>
      <td>1500611742</td>
      <td>literal</td>
      <td>Harry Vervet</td>
    </tr>
    <tr>
      <th>18</th>
      <td>literal</td>
      <td>We got  website, react+babel+ajax, we monitor ...</td>
      <td>literal</td>
      <td>1500611713</td>
      <td>literal</td>
      <td>tigras2</td>
    </tr>
    <tr>
      <th>19</th>
      <td>literal</td>
      <td>We got  website, react+babel+ajax, we monitor ...</td>
      <td>literal</td>
      <td>1500611713</td>
      <td>literal</td>
      <td>Gyro Gearloose</td>
    </tr>
    <tr>
      <th>20</th>
      <td>literal</td>
      <td>Perception my friend. Perception is everything...</td>
      <td>literal</td>
      <td>1500611638</td>
      <td>literal</td>
      <td>brianwawok</td>
    </tr>
    <tr>
      <th>21</th>
      <td>literal</td>
      <td>Perception my friend. Perception is everything...</td>
      <td>literal</td>
      <td>1500611638</td>
      <td>literal</td>
      <td>Jack Johansson</td>
    </tr>
    <tr>
      <th>22</th>
      <td>literal</td>
      <td>&lt;i&gt;Isomorphic.&lt;/i&gt; Thank you, I was searching ...</td>
      <td>literal</td>
      <td>1500611542</td>
      <td>literal</td>
      <td>andrewstuart2</td>
    </tr>
    <tr>
      <th>23</th>
      <td>literal</td>
      <td>Carried over from last year:&lt;p&gt;- Finish lisp a...</td>
      <td>literal</td>
      <td>1500611526</td>
      <td>literal</td>
      <td>sudshekhar</td>
    </tr>
    <tr>
      <th>24</th>
      <td>literal</td>
      <td>My pick (I know the article just said &amp;quot;sc...</td>
      <td>literal</td>
      <td>1500611471</td>
      <td>literal</td>
      <td>jmount</td>
    </tr>
  </tbody>
</table>