<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userName.type</th>
      <th>userName.value</th>
      <th>votes.type</th>
      <th>votes.value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>literal</td>
      <td>Werner Schmitt</td>
      <td>literal</td>
      <td>93</td>
    </tr>
    <tr>
      <th>1</th>
      <td>literal</td>
      <td>chha</td>
      <td>literal</td>
      <td>93</td>
    </tr>
    <tr>
      <th>2</th>
      <td>literal</td>
      <td>dustin</td>
      <td>literal</td>
      <td>92</td>
    </tr>
    <tr>
      <th>3</th>
      <td>literal</td>
      <td>pvitz</td>
      <td>literal</td>
      <td>92</td>
    </tr>
    <tr>
      <th>4</th>
      <td>literal</td>
      <td>fileunderwater</td>
      <td>literal</td>
      <td>90</td>
    </tr>
    <tr>
      <th>5</th>
      <td>literal</td>
      <td>refulgentis</td>
      <td>literal</td>
      <td>90</td>
    </tr>
    <tr>
      <th>6</th>
      <td>literal</td>
      <td>Corvus</td>
      <td>literal</td>
      <td>9</td>
    </tr>
    <tr>
      <th>7</th>
      <td>literal</td>
      <td>michaelmrose</td>
      <td>literal</td>
      <td>9</td>
    </tr>
    <tr>
      <th>8</th>
      <td>literal</td>
      <td>Shep</td>
      <td>literal</td>
      <td>9</td>
    </tr>
    <tr>
      <th>9</th>
      <td>literal</td>
      <td>fatdog</td>
      <td>literal</td>
      <td>9</td>
    </tr>
  </tbody>
</table>