<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>userName.type</th>
      <th>userName.value</th>
      <th>votes.datatype</th>
      <th>votes.type</th>
      <th>votes.value</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>literal</td>
      <td>Remi.b</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>41900</td>
    </tr>
    <tr>
      <th>1</th>
      <td>literal</td>
      <td>Chris</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>37825</td>
    </tr>
    <tr>
      <th>2</th>
      <td>literal</td>
      <td>AliceD</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>36711</td>
    </tr>
    <tr>
      <th>3</th>
      <td>literal</td>
      <td>WYSIWYG</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>28917</td>
    </tr>
    <tr>
      <th>4</th>
      <td>literal</td>
      <td>shigeta</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>24640</td>
    </tr>
    <tr>
      <th>5</th>
      <td>literal</td>
      <td>Alan Boyd</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>20786</td>
    </tr>
    <tr>
      <th>6</th>
      <td>literal</td>
      <td>anongoodnurse</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>18151</td>
    </tr>
    <tr>
      <th>7</th>
      <td>literal</td>
      <td>Ell</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>13655</td>
    </tr>
    <tr>
      <th>8</th>
      <td>literal</td>
      <td>fileunderwater</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>13309</td>
    </tr>
    <tr>
      <th>9</th>
      <td>literal</td>
      <td>theforestecologist</td>
      <td>http://www.w3.org/2001/XMLSchema#integer</td>
      <td>typed-literal</td>
      <td>12441</td>
    </tr>
  </tbody>
</table>